body{
    
	background-image: url(/sources/images/curvesProjects.svg);

    background-size: cover; /* Cover the entire element */
	background-position: center; /* Center the image */
	background-repeat: no-repeat; /* No repeat */
}