@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}


body{
  min-height: 100vh;
  color: whitesmoke;
  background: #0F245A;
}



/* -----------------------------------------MAIN-------------------------------------------------*/



.sidekick{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: -2px;
  background: rgb(74,123,190);
  background: linear-gradient(180deg, rgba(74,123,190,1) 0%, rgba(15,36,90,1) 100%);
  padding: 100px;
  max-height: 25px;
}

#firstSegment {
  background-color: transparent;
  width: 65%;
  height: 820px;
  text-align: center;
}
/* --------------------main fillers--------------------- */


@media screen and (min-width: 865px){
  .invisDiv{
      height: 80px;
      display: none;
  }
}

@media screen and (max-width: 865px){
  .invisDiv{
      height: 100px;
      display: block;
  }
}

@media screen and (min-width: 20px) and (max-width: 475px) {
  .sidekick{
    z-index: 10000;
    margin-top: 50px;
  
  
  }
}

/*250px*/
#filler250 {
  background-color: transparent;
  width: 100%; /* pas nog aan */
  height: 250px;
  margin: 0 auto;
  text-align: center;
}

#filler1000 {
  background-color: transparent;
  width: 60%; /* pas nog aan */
  height: 1000px;
  margin: 0 auto;
  text-align: center;
}




/* -------------------------------🍪Cookie Consent🍪--------------------------------*/
/* Styles for Cookie Banner */
.cookie-banner {
  position: fixed;
  width: 100%;
  background-color: rgba(98, 167, 183, 0.78);
  color: #fff;
  padding: 10px;
  text-align: center;
  z-index: 100000000;
}

.cookie-banner p {
  margin: 0;
}

.cookie-banner a {
  color: #fff;
  text-decoration: underline;
}

.cookie-banner button {
  background-color: #4CAF50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

#accept-essential-cookies-btn , #accept-all-cookies-btn{

  margin: 5px;
  border-radius: 15px;

}

/*----------------------------📱🍪MEDIA QUERRY'S🍪📱-----------------------------*/

/*-------------------------🖥️💻🍪LAPTOP & DESKTOP🍪💻🖥️-------------------------*/
@media screen 
and (min-device-width: 817px)
and (max-width: 2000px) 

{

  .cookie-banner {
      position: fixed;
      width: 40%;
      /* background-color: #62a7b7; */
      color: #fff;
      padding: 10px;
      margin-left: 10px;
      text-align: center;
      z-index: 1000;
      bottom: 5%; 
      border-radius: 25px;
      left: -100%; /* Start the image outside the viewport */
      animation: slideIn 3s forwards; /* Animation duration and fill mode */
      animation-delay: 7s; 

  }    

    
    @keyframes slideIn {
      to {
        left: 0; /* Slide the image to the left edge */
      }
    }
  }
/*-------------------------📳🍪PHONE AND TABLET🍪📳-------------------------*/
  @media screen 
  and (max-device-width: 816px)
  
  {


  .cookie-banner {

    margin-bottom: 5px;
    border-radius: 15px;

      bottom: -100%; /* Start the image outside the viewport */
      animation: slideIn4 3s forwards; /* Animation duration and fill mode */
      animation-delay: 15s; 

  }    

    
    @keyframes slideIn4 {
      to {
        bottom: 0; /* Slide the image to the left edge */
      }
    }
  }
/*-----------------------------------------------------------------------------------*/



/*----------------------------📱MEDIA QUERRY'S📱-----------------------------*/

@media screen 
  and (min-device-width: 817px)
  and (max-width: 2000px) 
  
  {
    #firstIntroText, #IconicText{
      text-align: justify;
    }
  }

/* ----------------------------------------------------------------- */


